.bearattack {
	display: none;
	width: 30%;
	margin: 0 auto;
}

.bearattack form {
/*	background: url('../images/form-pattern.png');
*/	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, .5);
	border-radius: 10px;
	padding: 30px;
	margin-top: 130px;
	display: flex;
	flex-direction: column;
	color: black;
	background: url('../images/bearquestion.png');
}

.bearattack form div {
	margin-bottom: 5px
}

.bearattack h2 {
	margin-bottom: 20px;
	font-weight: 300;
	text-transform: uppercase
}

.bearattack label {
	padding: 10px;
	border: 1px solid transparent;
	text-align: left;
	border-radius: 10px;
	width: 50%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.bearattack label:hover {
	color: rgb(194,154,27);
}

.bearattack input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ebca52;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
    text-align: left;
    visibility: hidden*/
}

.bearattack input:checked + label {
	background-color: rgb(29,112,62);
	color: white;
}

.bearattack button {
	border-radius: 10px;
	transition: all .5s ease-in-out;
	padding: 10px;
	cursor: pointer;
	margin: 20px auto 0;
	width: 50%;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	background-color: rgb(62, 106, 168);
	color: white;
	border: 0
}

.bearattack button:hover {
	background-color: #E3BC3D;
}