.home {
	padding: 50px 0 0;
	position: relative;
	overflow: hidden!important;
	box-sizing: border-box;
	height: 100vh
}

.instructions {
	overflow-y: scroll;
	max-height: 400px;
	padding: 40px;
	background: url('../images/bearquestion.png');
	border-radius: 10px;
	transition: all 0.25s ease-in-out;
	font-size: 1.1em;
	margin-top: 40px
}

@media only screen and (max-width: 1500px) {
	.instructions {
		max-height: 300px
	}
}

.homewrapper {
	width: 65%;
	margin: 0 auto;
	color: #333333;
	overflow: hidden
}

.homewrapper h1 {
	text-transform: uppercase;
	font-size: 1.6em;
	font-weight: 400
}

.homewrapper p {
	margin-bottom: 20px;
	font-size: 1em;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4em
}
.arrows {
	width: 30%
}
.pathmarkers {
	width: 40%;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.pathmarkers p {
	margin-bottom: 0;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-transform: uppercase;
}

.trailwrapper, .nottrailwrapper, .bearwrapper, .whiteblazewrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
}

/*.trail, .award, .bear {
	height: 50px;
	width: 50px;
	background-color: #8DBA75;
	margin: 0 auto;
}*/

.pathmarkers > div > div {
	border-radius: 10px
}

.nottrail {
	height: 50px;
	width: 50px;
	background: url('../images/pattern.png') top/500%;
	margin: 0 auto;
}

.trail {
	background-color: rgb(199, 182, 129);
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

.awardhome {
	background: rgb(199, 182, 129) url('../images/trash.png') center center/90% no-repeat;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	margin: 0 auto;
}

.bearhome {
	background: rgb(199, 182, 129) url('../images/bear.png') center center/80% no-repeat;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	margin: 0 auto;
}

.homebuttons, .signedinhomebuttons {
	display: flex;
	width: 70%;
	justify-content: space-between;
	margin: 40px auto;
}

.homebuttons button, .signedinhomebuttons button {
	padding: 15px 20px;
	border-radius: 10px;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	width: 30%;
	text-transform: uppercase;
	color: white;
	transition: all .5s ease-in-out;
	cursor: pointer;
	background-color: rgba(79, 112, 62);
	border: 0;
}

button:focus {
	outline: none!important;
	background-color: rgba(181, 98, 16)!important;
}

.signedinhomebuttons button {
	width: 49%;
}

.signedinhomebuttons button:nth-child(1), .homebuttons button:nth-child(1) {
	color: white;
	background-color: rgba(194, 154, 27);
}

/*62, 106, 168*/
/*rgba(255, 200, 22) - yellow
rgba(141, 186, 117) - green*/
.homebuttons button:hover, .signedinhomebuttons button:hover {
	background-color: rgba(62, 106, 168);
	color: white;
}

.homelogo {
	width: 40%;
	transition: all 0.25s ease-in-out
}

.smallerlogo {
	width: 25%
}

button.showinstructions {
	width: 70%;
	background-color: rgba(62, 106, 168);
	color: white;
	border: 0;
/*	background-color: rgba(255, 255, 255, .2);
	color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);*/
	padding: 15px 20px;
	border-radius: 10px;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

button.showinstructions:hover {
/*	background-color: rgba(91, 142, 222, .2)!important;
	color: rgb(91, 142, 222)!important;
	border: 1px solid rgb(91, 142, 222)!important;*/
	background-color: rgba(194, 154, 27)!important;
}
/*
	background-color: rgba(255, 200, 22, .2);
	border: 1px solid rgb(255, 200, 22);*/
.instructions {
	transition: all 0.5s ease-in-out;
}

/* width */
.instructions::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.instructions::-webkit-scrollbar-track {
    background-color: rgba(255, 200, 22);
/*    border: 1px solid rgb(255, 200, 22);*/
}
 
/* Handle */
.instructions::-webkit-scrollbar-thumb {
    background-color: rgba(79, 112, 62);
	/*border: 1px solid rgb(150, 214, 116);*/
}

/* Handle on hover */
.instructions::-webkit-scrollbar-thumb:hover {
    background-color: rgba(91, 142, 222);
/*    border: 1px solid rgb(91, 142, 222);*/
}

.instructionsWrapper {
	display: block;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-in-out
}
.githublink {
	position: absolute;
	bottom: 10px;
	color: white;
	width: 100%;
	margin: 0 auto;
	font-size: 23px;
	text-transform: uppercase;
}
.githublink img {
	width: 6%;
	vertical-align: middle;
	margin-bottom: 10px
}
@media only screen and (max-width: 1199px) {
	.home {
		height: auto
	}
	.homewrapper {
		width: 100%
	}
	.homelogo {
		width: 50%
	}
	.smallerlogo {
		width: 25%
	}
	.instructions {
		width: 70%;
		margin: 20px auto;
	}
	.githublink img {
		width: 15%;
		margin-bottom: 15px
	}
	.githublink {
		position: relative;
		margin-top: 100px;
		transition: all .5s ease-in-out
	}
}
@media only screen and (max-width: 767px) {
	.home {
		padding-top: 20px;
	}
	.homewrapper {
		width: 100%
	}
	.homelogo {
		width: 70%
	}
	.smallerlogo {
		width: 40%
	}
	.homebuttons, .signedinhomebuttons {
		flex-direction: column;
		margin: 20px auto;
	}
	.homebuttons button, .signedinhomebuttons button {
		width: 100%;
		margin-bottom: 10px
	}
	.instructions {
		padding: 20px;
	}
	.pathmarkers {
		width: 100%
	}
	.githublink img {
		width: 30%;
		margin-bottom: 15px
	}
}