.score {
	display: flex;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	padding: 30px;
	font-size: 30px;
	color: #2D441E;
}

@media only screen and (max-width: 1199px) {
	.score {
		position: relative;
	}
}